---
interface Props {
  title: string;
  description: string;
  page?: "travel";
}

const { title, description, page } = Astro.props;
const image =
  page === "travel"
    ? `${Astro.url.origin}/globe_preview.webp`
    : `${Astro.url.origin}/me.webp`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/bitmo-fotor.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta property="og:image" content={image} />
    <!-- Basic Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <link rel="preconnect" href="https://cdn.fontshare.com" />
  </head>
  <body class="bg-darkslate-700 md:h-screen flex flex-col justify-center items-center">
    <slot name="loader" />
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "CabinetGrotesk";
    src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype-variations");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format("truetype-variations");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
  }

  body {
    margin: 0;
    font-family: "Satoshi", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #2F4F4F;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Cabinet Grotesk", sans-serif;
    margin: 0;
  }

  p {
    font-family: "Satoshi";
    margin: 0 0 1rem 0;
  }

  b {
    font-weight: 700 !important;
  }

  .container {
    width: 100%;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .container {
      padding: 0 15px;
    }

    .flex-center {
      flex-direction: column;
    }

    body {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    .container {
      padding: 0 10px;
    }

    body {
      font-size: 12px;
    }
  }
</style>
